*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--Dark-Blue: hsl(209, 23%, 22%);
--Very-Dark-Blue-dark-mode-background: hsl(207, 26%, 17%);
--Very-Dark-Blue: hsl(200, 15%, 8%);
--Dark-Gray: hsl(0, 0%, 52%);
--Very-Light-Gray-light-mode-background: hsl(0, 0%, 98%);
--white: hsl(0, 0%, 100%);
}
body{
    background-color: var(--Very-Light-Gray-light-mode-background);
}

nav{
    display : flex;
    background-color: var(--white);
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 5rem; 
}
.searchBox{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
}
#Search{
    width: 18rem;
    height: 2rem;
}
button{
    border: none;
}
input , select {
    padding: 10px;
}

.flagImage{
    width: 17rem;
    height: 9rem;
   
    object-fit: cover;
}
.countries-info{
    /* border: 5px solid white; */
    background-color: var(--white);
    width: 17rem;
    height: 17rem;

}
.country-details{
    padding-left: 20px;
    padding-top: 20px;
}
#countriesContainer{
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem 5rem;
    margin: 3rem auto;
}